@media screen and (max-width:1200px) {    
}
*{
    text-align: center;
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #333;
}
.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-content: center;
  }
  h1.tiptoppelis {
      font-family: 'Lemonada', cursive;
      color: rgb(79, 27, 221);
      text-shadow: floralwhite 2px 2px;
      font-size: 55px;
  }
  .iniciosesion{
      color: white;
  }
.fondo{
    background: rgba(2, 2, 2, 0.5);
}
header{
    background-image:url(https://pm1.narvii.com/6469/63ec9a90d5dc0a65985e80bda8c6937b4b2819f3_hq.jpg);
    background-size: 100vh;
    height: 100%; 
}

/*Formulario de Registro*/
.contentform{
    padding: 30vh;
}
.formulario{
    background-color: rgba(0, 0, 0, 0.815);
    border-radius: 10px;
    text-align: center;
    margin: 0px 0px;
    padding: 20px 0px 60px;
    


}
input{
    display: -ms-grid;
    background-color: rgb(255, 255, 255);
    border: black 2px solid;
    color: rgb(0, 0, 0) ;
    padding: 18px;

}


label {
    color: white;
    
   

}
